<header data-ecl-auto-init="SiteHeaderStandardised" class="ecl-site-header-standardised">

<div class="ecl-site-header-standardised__container ecl-container">
    <div class="ecl-site-header-standardised__top"><a
        class="ecl-link ecl-link--standalone ecl-site-header-standardised__logo-link" href="{{ site.baseurl }}"><img alt="European Commission logo" title="European Commission"
          class="ecl-site-header-standardised__logo-image"
          src="{{ site.url }}{{ site.baseurl }}/media/logo--en.svg" /></a>
      <div class="ecl-site-header-standardised__action">
        <div class="ecl-site-header-standardised__search-container"><a
            class="ecl-link ecl-link--standalone ecl-site-header-standardised__search-toggle" href="/example"
            data-ecl-search-toggle="true" aria-controls="search-form-id" aria-expanded="false"><svg focusable="false"
              aria-hidden="true" class="ecl-icon ecl-icon--s">
              <use xlink:href="/component-library/dist/media/icons.1dbe9812.svg#general--search"></use>
            </svg>Search</a>
          <form id="search-form-id" data-ecl-search-form="true"
            class="ecl-site-header-standardised__search ecl-search-form" role="search">
            <div class="ecl-form-group ecl-form-group--text-input"><label class="ecl-search-form__label ecl-form-label"
                for="search-input-id">Search</label><input type="search" id="search-input-id"
                class="ecl-search-form__text-input ecl-text-input" /></div><button aria-label="Search" type="submit"
              class="ecl-search-form__button ecl-button ecl-button--search"><span class="ecl-button__container"><span
                  class="ecl-button__label" data-ecl-label="true">Search</span><svg focusable="false" aria-hidden="true"
                  data-ecl-icon="true" class="ecl-button__icon ecl-button__icon--after ecl-icon ecl-icon--xs">
                  <use xlink:href="/component-library/dist/media/icons.1dbe9812.svg#general--search"></use>
                </svg></span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="ecl-site-header-standardised__banner">
    <div class="ecl-container"><a class="ecl-link ecl-link--standalone ecl-site-header-standardised__menu-toggle"
        href="{{ site.baseurl }}/><svg focusable="false" aria-hidden="true" class="ecl-icon ecl-icon--s">
          <use xlink:href="/component-library/dist/media/icons.1dbe9812.svg#general--hamburger"></use>
        </svg>Menu</a>{{ site.title }}</div>
  </div>
  
  <div class="ecl-site-header-standardised__menu">
    <div class="ecl-container">
      <ul class="ecl-site-header-standardised__menu-list">
        <li class="ecl-site-header-standardised__menu-item"><a href="{{ site.baseurl }}/"
            class="ecl-site-header-standardised__menu-link ecl-link ecl-link--standalone">Home</a></li>

        {% for my_page in site.pages %}
          {% if my_page.title %}
 <li class="ecl-site-header-standardised__menu-item">
<a href="{{ my_page.url | prepend: site.baseurl }}"
            class="ecl-site-header-standardised__menu-link ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-after"><span
              class="ecl-link__label">
            {{ my_page.title }}
</span> <svg focusable="false" aria-hidden="true"
              class="ecl-link__icon ecl-icon ecl-icon--2xs ecl-icon--rotate-180">
              <use xlink:href="/component-library/dist/media/icons.1dbe9812.svg#ui--corner-arrow"></use>
            </svg>
          </a>
          {% endif %}
        {% endfor %}

      </ul>

    </div>
  </div>



</header>
