<table class="ecl-table">
  <thead class="ecl-table__head">
    <tr class="ecl-table__row">
      <th class="ecl-table__header"></th>
      <th class="ecl-table__header"></th>
    </tr>
  </thead>
  <tbody class="ecl-table__body">
    <tr class="ecl-table__row">
      <td data-ecl-table-header="Job title" class="ecl-table__cell">Service Name</td>
      <td data-ecl-table-header="EFSI finance approved by EIB" class="ecl-table__cell">{{ page.title }}</td>
    </tr>
    <tr class="ecl-table__row">
      <td data-ecl-table-header="Job title" class="ecl-table__cell">Availability</td>
      <td data-ecl-table-header="EFSI finance approved by EIB" class="ecl-table__cell">{{ page.availability }}</td>
    </tr>
    <tr class="ecl-table__row">
      <td data-ecl-table-header="Job title" class="ecl-table__cell">Category</td>
      <td data-ecl-table-header="EFSI finance approved by EIB" class="ecl-table__cell">{{ page.categories }}</td>
    </tr>
    <tr class="ecl-table__row">
      <td data-ecl-table-header="Job title" class="ecl-table__cell">Link</td>
      <td data-ecl-table-header="EFSI finance approved by EIB" class="ecl-table__cell">{{ page.link }}</td>
    </tr>
     <tr class="ecl-table__row">
      <td data-ecl-table-header="Job title" class="ecl-table__cell">Description</td>
      <td data-ecl-table-header="EFSI finance approved by EIB" class="ecl-table__cell">{{ page.description }}</td>
    </tr>
    <tr class="ecl-table__row">
      <td data-ecl-table-header="Job title" class="ecl-table__cell">Version</td>
      <td data-ecl-table-header="EFSI finance approved by EIB" class="ecl-table__cell">{{ page.version}}</td>
    </tr>
    <tr class="ecl-table__row">
      <td data-ecl-table-header="Job title" class="ecl-table__cell">Stability</td>
      <td data-ecl-table-header="EFSI finance approved by EIB" class="ecl-table__cell">{{ page.stability}}</td>
    </tr>
    <tr class="ecl-table__row">
      <td data-ecl-table-header="Job title" class="ecl-table__cell">Popularity</td>
      <td data-ecl-table-header="EFSI finance approved by EIB" class="ecl-table__cell">{{ page.popularity}}</td>
    </tr>
    <tr class="ecl-table__row">
      <td data-ecl-table-header="Job title" class="ecl-table__cell">Maintainers</td>
      <td data-ecl-table-header="EFSI finance approved by EIB" class="ecl-table__cell">{{ page.maintainers}}</td>
    </tr>

   
  </tbody>
</table>